*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color:rgb(97, 194, 201);
    color:white;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    box-shadow: 0px 90px 100px 20px rgba(255, 0, 0, 0.233);
}
nav em{
    align-self: flex-end;
    position: fixed;
    margin-right: -96%;
    transform: translate(-50%);
    color: black;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px 0px 20px 0px;
}
#searchText{
    padding:5px 20px;
    border-radius:50px;
    text-align: center;
    width: 50%;
    max-width: 500px;
    min-width: 150px;
}
.main{
    display: grid;
    grid-template-columns: 30vw auto;
}
#addNote{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border: 2px solid rgb(180, 162, 162);
    margin: 0px 20px;
    height: 55vh;
}
#addTitle{
    width: 80%;
    border: 2px solid rgb(54, 140, 238);
    outline:none;
    font-weight: bold;
}
#addText{
    width: 80%;
    height: 50%;
    border: 2px solid rgb(54, 140, 238);
    outline:none;
}
#addBtn{
    background-color: green;
    color:white;
    cursor: pointer;
}
#yourNotes{
    overflow-y: auto;
    overflow-x: hidden;
    height: 55vh;
    border: 2px solid rgb(180, 162, 162);
    margin: 0px 10px;
    scroll-behavior: smooth;
}
#yourNotes>h3{
    text-align: center;
}
#notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top:2px solid hotpink;
}
.noteCard{
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin: 20px auto;
    width: 150px;
    word-wrap: break-word;
}
.noteCard>h4{
    margin-top: 0px;
    padding: 5px;
    text-align: center;
    background-color: rgb(204, 189, 189) ;
}
.noteContent{
    overflow:auto;
    height:100px;
}
.noteContent+button{
    background-color: rgb(233, 54, 54);
    color:white;
    cursor: pointer;
    width: 60%;
    margin: 0px 50%;
    transform: translateX(-50%);
}
.importantNote{
    background-color: burlywood;
}
@media only screen and (max-width: 780px) {
    #addNote {
        display:none;
        width:96vw;
    }
    #addNote>h3{
        display: none;
    }
    #toggleBtn{
        display: inline-block;
        margin-bottom: 30px;
        background-color: orange;
        color: white;
        cursor: pointer;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #yourNotes{
        width: 96vw;
    }
}
@media only screen and (min-width:780px){
    #toggleBtn{
        display: none!important;
        margin-bottom: 30px;
        background-color: orange;
        color: white;
        cursor: pointer;
    }
    #addNote{
        display: flex!important;
    }
}